/target/
/data*/
/data*
/sers*/
/sers*
/_sers*
/_sers*/
/resources/

/dist/wn*/
/dist/oewn*/

/dist/doc/cases
/dist/doc/pages
/dist/doc/schemas
/dist/doc/svg/archive/
/dist/doc/mwb/archive/
/dist/doc/mwb/mwb1/
/dist/doc/pdf/fks*
/dist/doc/pdf/schema*
/dist/doc/pdf/tables*
/dist/doc/pdf/uml*
/dist/doc/queries/html/
/dist/doc/queries/pdf/
/dist/doc/site/pdf/
/dist/doc/site/sql/
/dist/doc/site/*.pdf
/dist/test_*

/**/*.sqlite
/**/*.jar
