/target/
/data/
/sers/
/sers
/sers31/
/sers31

/dist/mysql/
/dist/wn*/
/dist/oewn*/
/dist/doc/cases
/dist/doc/pages
/dist/doc/schemas
/dist/doc/svg/archive/
/dist/doc/mwb/archive/
/dist/doc/mwb/mwb1/
/dist/doc/pdf/fks*
/dist/doc/pdf/schema*
/dist/doc/pdf/tables*
/dist/doc/pdf/uml*
/dist/doc/queries/html/
/dist/doc/queries/pdf/
/dist/doc/site/pdf/
/dist/doc/site/sql/
/dist/doc/site/*.pdf

/bnc/bnc0.sqlite
/fn/fn0.sqlite
/pb/pb0.sqlite
/pm/pm0.sqlite
/sl/sl0.sqlite
/sn/sn0.sqlite
/vn/vn0.sqlite
/queries/out/
/querybuilder-gradle/dummy/build/
/querybuilder/target/
/querybuilder-gradle/target/
